<!DOCTYPE html>
<html lang="en">
<head>
{% load sidenav %}

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Hedgehog</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Here live's hog </title>
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <style type="text/css">
            .nomargin {
                margin-left:0px; 
            }
            .panel {
                margin-left:4%;
            }
            li.clear {
                list-style:none;
            }
        </style>
</head>
<body>
    <div class="">
        <br/>
        <div class="row">
            <div class="twelve columns">
                <h2 class="panel">
                        The hog lives here
                        <a href="/">
                        <img src="/static/icon.png" />
                        </a>
                </h2>
            </div>
            <div class="two columns">
            {% sidenav as nav %}
            <ul>
                {% for item in nav %} 
                <li><a href="/blog/{{item.id}}">{{ item.caption }}</a></li>
                {% endfor %}
                <li class="clear"><img
                    style="vertical-align:bottom; margin-left:-8px; height:1.5em;" 
                    src="/static/image_icon.png"/>&nbsp;<a href="/gallery/">Фотоархив</a></li>
                <li class="clear"><img
                    style="vertical-align:bottom; margin-left:-8px; height:1.5em;" 
                    src="/static/bulb.png"/>&nbsp;<a href="/scenes_features/">Недопланы</a></li>
                <li class="clear"> <hr/> </li>
                <li class="clear"> 
                    <a class="button" href="https://www.dropbox.com/s/h18c5sgs3yc3b3l/game-bin.exe?dl=0">LAST BUILD</a>
                </li>
            </ul>
            </div>
            <div class="nine columns">
                {% block data %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
