<html>
    <head>
        <title> Here live's hog </title>
        <style type="text/css">
            body, html {
                padding:0;
                margin:0;
            }
            body {
                background-color:#242424;
            }
        </style>
    </head>
    <body>
        <nav>
            Article 1
            Article 2
            Article 3
            Article 4
            ---------
            Gallery
            ---------
            Roadmap
            ---------
            Bugs
            ---------
            Staff
            ---------
            last build
            ---------
        </nav>
    </body>
</html>
